{% extends 'templates/base.html' %}

{% block content %}

    <!-- Intro Header -->
    <section class="">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <h1>Privacy policy</h1>
                
		                <div style='overflow-y: scroll; height: 200px; font-size: .8em; padding-right: 15px;'>
		                	
							<p>The service provided on this website allows access to external, third-party websites. </p>
							
							<p>Our website stores cookies on your computer/device, if allowed by your browser's privacy settings*. The cookies used by our service uniquely identifies you to the server and allows our website to remember your preferences.</p>
							
		                </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}